<p id="notice"><%= notice %></p>

<p>
  <strong>Street name:</strong>
  <%= @address.street_name %>
</p>

<p>
  <strong>Street name number:</strong>
  <%= @address.street_name_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
